@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap');

:root {
    --color-base: rgb(230, 233, 227);
    --color-body: #2d2e2c;
    --color-heading: rgb(204, 119, 8);
    --color-content:  rgba(55, 126, 75, 1);
    --color-brand:  rgb(6, 117, 38);
    --font-base: 'Open Sans', sans-serif;
}

body {
    background-color: var(--color-base);
    color: var(--color-body);
    font-family: var(--font-base);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-content);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

/* NAVBAR */
.navbar .nav-link {
    color: var(--color-body);
}

.navbar .nav-link:hover {
    color: var(--color-content);
}

.navbar .nav-link:active {
    color: var(--color-content);
}

a:active {
    color: var(--color-content);
}

p {
    margin-bottom: 5px;
    color: var(--color-body);
}

#Para {
    color: var(--color-body);
}

#footer .form-control {
    background-color: var(--color-base);
    color: #f0f0e8;
}